ion-toolbar{
    --ion-background-color:#946c0a ;
    --color: #fbbc02;
}
ion-content{
    --ion-background-color:#fbbc02 ;
    --color: #fff;
}
ion-item{
    --background: #fccd41;
    --color: #fff;
}

ion-button{
    --background: #211614;
}
