ion-toolbar{
    --ion-background-color:#946c0a ;
    --color: #fbbc02;
}
ion-item{
    --background: #fccd41;
    --color: #fff;
}
ion-button{
    --background: #211614;
}
ion-col{
    vertical-align: center;

}
ion-content{
    --ion-background-color:#fbbc02 ;
    --color: #fff;
}
.center {
    display: block;
    margin: auto;
    width: 50%;
   }